:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --secondary-text-color: #5e5e5e;
    --accent-color: #000000;
    --card-bg-color: #f5f5f5;
    --border-color: #f0eded;
    --button-text-color: #ffffff;
    --hover-color: rgba(0, 0, 0, 0.035);
    --invert: 0;
  }
  

  .dark-mode {
    --background-color: #121212;
    --text-color: #ffffff;
    --secondary-text-color: #aaaaaa;
    --accent-color: #ffffff;
    --card-bg-color: #242424;
    --border-color: #333333;
    --button-text-color: #000000;
    --hover-color: rgba(143, 141, 141, 0.501);
    --invert: 1;
  }
  
  * {
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
  }
  
  .dark-grey {
    color: var(--secondary-text-color);
  }
  
  .underscore {
    background-color: var(--secondary-text-color);
  }

  .btn {
    background-color: var(--accent-color);
    color: var(--button-text-color);
  }
  
  .footer {
    background-color: var(--accent-color);
    color: var(--button-text-color);
  }
  
  .footer-link::after {
    background-color: var(--button-text-color);
  }
  

  .work-item {
    border-bottom: 1px solid var(--border-color);
  }
  
  
  .image, .project-image {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
  
  .dark-mode .image, .dark-mode .project-image {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  }
  
  
  .social-link:hover {
    background-color: var(--hover-color);
  }
  
  .tech {
    background-color: var(--card-bg-color);
    color: #ff3e00; 
  }
  .important{
    font-weight: bold;
    color: var(--text-color);
  }
  .logo-img{
    filter: invert(var(--invert)); 
  }